#root {
  margin: 0;
}

.main-container {
  width: 768px;
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

.search-bar {
  display: flex;
  margin-bottom: 20px;
}

.search-input {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
}

.search-button {
  padding: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

.select {
  margin-bottom: 20px;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

.results ul {
  list-style-type: none;
  padding: 0;
}

.result-item {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  height: 250px;
  display: inline-block;
  margin: 20px;
  overflow: hidden;
}

.result-item a {
  color: #007bff;
}

.result-item a:hover {
  text-decoration: underline;
}

.category-selector {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.category-button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.category-button:hover {
  background-color: #e0e0e0;
}

.category-button.active {
  background-color: #007bff;
  color: white;
}

@media (max-width: 767px) {
  .main-container {
    width: 100%;
  }
  .category-selector {
    display: block;
  }
  .result-item {
    width: calc(100% - 80px);
  }
}
